<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>GetInformationController</servlet-name>
  	<display-name>GetInformationController</display-name>
  	<description></description>
  	<servlet-class>com.cs425.web.GetInformationController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManageBookController</servlet-name>
  	<display-name>ManageBookController</display-name>
  	<description></description>
  	<servlet-class>com.cs425.web.ManageBookController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetCopies</servlet-name>
  	<display-name>GetCopies</display-name>
  	<description></description>
  	<servlet-class>com.cs425.web.GetCopies</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetBorrow</servlet-name>
  	<display-name>GetBorrow</display-name>
  	<description></description>
  	<servlet-class>com.cs425.web.GetBorrow</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManageCopiesController</servlet-name>
  	<display-name>ManageCopiesController</display-name>
  	<description></description>
  	<servlet-class>com.cs425.web.ManageCopiesController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetCitation</servlet-name>
  	<display-name>GetCitation</display-name>
  	<description></description>
  	<servlet-class>com.cs425.web.GetCitation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetMagazine</servlet-name>
  	<display-name>GetMagazine</display-name>
  	<description></description>
  	<servlet-class>com.cs425.web.GetMagazine</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetThesis</servlet-name>
  	<display-name>GetThesis</display-name>
  	<description></description>
  	<servlet-class>com.cs425.web.GetThesis</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManageBRController</servlet-name>
  	<display-name>ManageBRController</display-name>
  	<description></description>
  	<servlet-class>com.cs425.web.ManageBRController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AllMembers</servlet-name>
  	<display-name>AllMembers</display-name>
  	<description></description>
  	<servlet-class>com.cs425.web.AllMembers</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AllMembers2</servlet-name>
  	<display-name>AllMembers2</display-name>
  	<description></description>
  	<servlet-class>com.cs425.web.AllMembers2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteBook</servlet-name>
  	<display-name>DeleteBook</display-name>
  	<description></description>
  	<servlet-class>com.cs425.web.DeleteBook</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddDocument</servlet-name>
  	<display-name>AddDocument</display-name>
  	<description></description>
  	<servlet-class>com.cs425.web.AddDocument</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetidFromAuthor</servlet-name>
  	<display-name>GetidFromAuthor</display-name>
  	<description></description>
  	<servlet-class>com.cs425.web.GetidFromAuthor</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetInformationController</servlet-name>
  	<url-pattern>/getInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManageBookController</servlet-name>
  	<url-pattern>/listBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetCopies</servlet-name>
  	<url-pattern>/GetCopies</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetBorrow</servlet-name>
  	<url-pattern>/GetBorrow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManageCopiesController</servlet-name>
  	<url-pattern>/ManageCopies</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetCitation</servlet-name>
  	<url-pattern>/GetCitation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetMagazine</servlet-name>
  	<url-pattern>/GetMagazine</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetThesis</servlet-name>
  	<url-pattern>/GetThesis</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManageBRController</servlet-name>
  	<url-pattern>/ManageBR</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AllMembers</servlet-name>
  	<url-pattern>/AllMembers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AllMembers2</servlet-name>
  	<url-pattern>/AllMembers2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteBook</servlet-name>
  	<url-pattern>/DeleteBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddDocument</servlet-name>
  	<url-pattern>/AddDocument</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetidFromAuthor</servlet-name>
  	<url-pattern>/GetidFromAuthor</url-pattern>
  </servlet-mapping>
</web-app>
